#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transition: background-color 0.5s, color 0.5s;
}

.navbar-light {
  background-color: #f9f9f9;
  color: #213547;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-light button {
  background-color: #ffffff;
  color: #213547;
  border: 1px solid #213547;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-light button:hover {
  background-color: #e0e0e0;
}

.navbar-dark {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-dark button {
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  border: 1px solid rgba(255, 255, 255, 0.87);
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar-dark button:hover {
  background-color: #333333;
}

.body-light {
  background-color: #ffffff;
  color: #213547;
}

.body-dark {
  background-color: #121212;
  color: #ffffff;
}

body {
  transition: background-color 0.5s, color 0.5s;
}
